registry=https://pkgs.dev.azure.com/tannuahuja/_packaging/tannuahuja/npm/registry/ 
                        
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/tannuahuja/_packaging/tannuahuja/npm/registry/:username=tannuahuja 
//pkgs.dev.azure.com/tannuahuja/_packaging/tannuahuja/npm/registry/:_password=5evbse7i7vys4ngdms3dzcyrznh5wwmpmheaogzsjo66uxawicta 
//pkgs.dev.azure.com/tannuahuja/_packaging/tannuahuja/npm/registry/:email=tannu@gmail.com
//pkgs.dev.azure.com/tannuahuja/_packaging/tannuahuja/npm/:username=tannuahuja 
//pkgs.dev.azure.com/tannuahuja/_packaging/tannuahuja/npm/:_password=5evbse7i7vys4ngdms3dzcyrznh5wwmpmheaogzsjo66uxawicta 
//pkgs.dev.azure.com/tannuahuja/_packaging/tannuahuja/npm/:email=tannu@gmail.com
; end auth token
